<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form name="frm" action="/upload" method="POST" 
        enctype="multipart/form-data">
    <input type="file" name="file" value="" /><br><br>
    <input type="submit" name="s1" value="upload File" />
    </form>
</body>
</html> -->