<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> I am ejs file</h2>
    <h2> name is <%=name%></h2>
    <h2> id is <%=id%></h2>
    <h2> salary <%=salary%></h2>
</body>
</html>