<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <form name="frm" action="/validate" method="POST">
    <input type="text" name="name" value="" /><br><br>
    <input type="text" name="pass" value="" /><br><br>
    <input type="submit" name="s1" value="Login" />
    </form>
</body>
</html>